<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Fredoka+One&family=Play&display=swap" rel="stylesheet"> 


<footer>
<div class="footer">
  <img  src="https://staticctf.ubisoft.com/J3yJr34U2pZ2Ieem48Dwy9uqj5PNUQTn/3CRPJonpRo7pul6heJkcjv/43b52f9d285538bd2b4568ae9fba917e/ac_franchise_logo_desktop.png" alt="" class="logo" alt="" class="footer_as" routerLink="home">

<div class="row">
<a href="https://www.facebook.com/assassinscreed.uk/"><i class="fa fa-facebook"></i></a>
<a href="https://www.instagram.com/assassinscreed/?hl=en"><i class="fa fa-instagram"></i></a>
<a href="https://www.youtube.com/channel/UCrniLr5HDebHfskhSSAAt0A"><i class="fa fa-youtube"></i></a>
<a href="https://x.com/assassinscreed?ref_src=twsrc%5Egoogle%7Ctwcamp%5Eserp%7Ctwgr%5Eauthor"><i class="fa fa-twitter"></i></a>
</div>

<div class="row">
<ul>
<li><a routerLink="Helpp">Contact us</a></li>
<li><a routerLink="Games">Games</a></li>
<li><a routerLink="private">Privacy Policy</a></li>
<li><a routerLink="daga">Terms & Conditions</a></li>
<li><a routerLink="News">News</a></li>
</ul>
</div>

<div class="row">
  Assassin’s Creed  © 2021 Inferno - All rights reserved || www.Assassin’s Creed .com
</div>
</div>
</footer>
