<div class="slid">
    
    <h2>.</h2>
    <div class="slid_in">
        <div class="slid_img">
        <img src="https://staticctf.ubisoft.com/J3yJr34U2pZ2Ieem48Dwy9uqj5PNUQTn/6euY5hlpAn7H1T9BZmpg3V/9a5aa676a0f625b39ff8216f98109235/ac-game-logo-mirage.png" alt="" class="slidm">
    </div>
    <div class="slid_img_ii">
        <img src="https://64.media.tumblr.com/8495846947c33b9c24d0d22804ba6042/d130ca53e50171e2-21/s540x810/2cfc29c14ddc946289e32da5296f54ad4ee86560.gif" alt="" class="slidb">
    </div>
    
    <p class="slid_one">Coming February 14. Available on PlayStation®5 <br>& Xbox Series X|S, Ubisoft+, Amazon Luna,<br> Macs with Apple silicon via <br>the Mac App Store as well <br> as Windows PC through the Ubisoft Store, <br> Steam and the Epic Games Store. <br> Also coming to iPad.

    </p>

        <button routerLink="Games"class="slid_btn">Check The Games</button>

    </div>
</div>
<section class="two">
  <h1 class="jsdfasf">.</h1>
  <div class="twys">
  <h1 class="twoh1">About the Game</h1>
  <p class="twop">In Assassin's Creed Mirage, you are Basim, a cunning street thief <br> with nightmarish visions seeking answers and justice.

  </p>
  <p class="twop">Join an ancient organisation and come to understand a new creed – <br>one that will change Basim’s fate in ways he never could have <br>imagined.

  </p>
</div>
<div class="all">
  <section class="first">
    <div class="first_one">
        <img src="https://media0.giphy.com/media/v1.Y2lkPTc5MGI3NjExY2N1a21jYXltMDk4dnJtb3N5eHkzNDZ6NTNqYXNwZjdteXltcndmYSZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/cCXixzqiRYwgT3H5um/giphy.webp" alt="" class="first_img">
        <div class="first_d">
        <h2 class="firsth2">A Powerful Coming-Of-Age  Story</h2>
        <p class="firstp">Discover a narrative-driven action-adventure experience that follows the transformation of a defiant young man into a refined   Master Assassin with a conflicted destiny. Meet an inspiring cast   of characters who will shape Basim’s destiny    and may be more    than what they seem…</p>
        <a href="https://www.youtube.com/watch?v=G97lx7orMN8"><button class="firstbtn">Watch gameplay Trailer >>></button></a>
    </div>
    </div>
  </section>

  <section class="first">
    <div class="first_one">
        <img src="https://media2.giphy.com/media/i8mG0O7KSIUGu8WyQi/giphy.gif?cid=6c09b95292u1mb9k2iqnjmh5i1if8hok6bkzr1f9yumr8jl6&ep=v1_gifs_search&rid=giphy.gif&ct=g" alt="" class="first_img">
        <div class="first_d">
        <h2 class="firsth2">The Ultimate Assassin
        </h2>
        <p class="firstp">Become the most versatile Assassin in franchise history. Parkour seamlessly through the city and leverage the largest assortment of tools to date. Get contracts at the Assassin’s bureaus, collect vital clues, and stealthily take down targets with more visceral assassinations than ever before.</p>
        <a href="https://www.youtube.com/watch?v=Rh-3zAcJu4o"><button class="firstbtn_two">Learn More About Basim >>></button></a>

    </div>
    </div>
  </section>

  <section class="first">
    <div class="first_one">
        <img src="https://giffiles.alphacoders.com/217/217147.gif" alt="" class="first_img">
        <div class="first_d">
        <h2 class="firsth2">An Immersive, Reactive City </h2>
        <p class="firstp">Explore a dense and vibrant city whose inhabitants react to your every move. Uncover the secrets of four unique districts, from the industrial Karkh to the lush gardens of the Round City. Discover surprising world events and interact with historical figures that shaped the Golden Age of Baghdad.</p>
        <a href="https://www.youtube.com/watch?v=yPs-p91hjBI&t=17s"><button class="firstbtn_three">Watch World Trailer >>></button></a>

    </div>
    </div>
  </section>

  <h6 class="fu">.</h6>


</div>

</section>
<section class="lll">
  <h1 class="jsdgas">.</h1>
  <div class="twys">
  <h1 class="mine_h_w">CHARACTERS</h1>
</div>
<div class="wrapper">
  
	<div class="card">
		<div class="poster"><img src="https://staticctf.ubisoft.com/J3yJr34U2pZ2Ieem48Dwy9uqj5PNUQTn/2HfAdifUxHlZpzufnSyevT/27adf0cb1bc5869953ef760c27e5531e/acm-character-block-Basim.png" alt="Location Unknown"></div>
		<div class="details">
			<h1>BASIM</h1>
			
			
			
			<p class="desc">
				Originally born in Samarra, Basim lost his mother at a young age and grew up on his own in the streets of Baghdad. Basim admires the Hidden Ones, and dreams of joining them.


			</p>
			
		</div>
	</div>
	<div class="card">
		<div class="poster"><img src="https://staticctf.ubisoft.com/J3yJr34U2pZ2Ieem48Dwy9uqj5PNUQTn/114FjVtNCQrW19OOaV8NZJ/7ceefa05edb6b3e70f2d3341f11fd184/acm_character-block-Roshan.png" alt="Location Unknown"></div>
		<div class="details">
			<h1>ROSHAN</h1>
			
			
			
			<p class="desc">
				After escaping a life of oppression, Roshan became a master assassin at the Hidden Ones’ stronghold, Alamut. Now, she takes Basim under her wing as her first true apprentice.


			</p>
			
		</div>
	</div>
	<div class="card">
		<div class="poster"><img src="https://staticctf.ubisoft.com/J3yJr34U2pZ2Ieem48Dwy9uqj5PNUQTn/2HJTYPs6ngAunfR9YOPoZC/dbb477b854a8f7094143523bb08ee558/acm-character-block-nehal.png" alt="Location Unknown"></div>
		<div class="details">
			<h1>NEHAL</h1>
			
			
			
			<p class="desc">
        Nehal, as Basim, is a child from the streets. She is a loner, stubborn and determined. As she cares for Basim, she always reminds him that he should never trust anyone but himself.

			</p>
			
		</div>
	</div>

  <div class="card">
		<div class="poster"><img src="https://staticctf.ubisoft.com/J3yJr34U2pZ2Ieem48Dwy9uqj5PNUQTn/1Rxmihrr5dNX4NYkpuzhgL/8762bdc144f99606513d90d21815567c/acm-character-block-ali.png" alt="Location Unknown"></div>
		<div class="details">
			<h1>ALI</h1>
			
		
			
			<p class="desc">
        Ali is the leader of the Zanj rebellion. Apart from being really clever and an erudite, he chose to fight relentlessly and fiercely against the caliphate. He works alongside the Hidden Ones but doesn't respect their credo: to him, freedom goes without any constraints.

			</p>
			
		</div>
	</div>
</div>
</section>
<div class="news_card">
  <h1 class="jsdfasf">.</h1>
  
  <h4 class="dsr">Latest News & Videoss</h4>
  <div class="news_card_one">
      <div class="news_card_one_row">
          <img src="https://staticctf.ubisoft.com/J3yJr34U2pZ2Ieem48Dwy9uqj5PNUQTn/kJYJ5vV7BJWKLpJgdX0UK/b10ddfa98a493fd42de7d798d3d3e518/acm-backbone-thumnbnail.jpg" alt="" class="news_img">
          <p class="news_date">12 September 2024</p>
          <p class="news_text">Try Assassin's Creed Mirage on iOS with the Backbone One!
          </p>
          <a href="https://www.youtube.com/watch?v=vovkzbtYBC8"><button class="news_btn">Watch Now</button></a>
          <p class="news_foot">Assassin's Creed Mirage</p>
      </div>
      <div class="news_card_one_row">
          <div class="news_card_one_row">
              <img src="https://i.ytimg.com/vi/VjtodH83_I0/maxresdefault.jpg" alt="" class="news_img">
              <p class="news_date">1 September 2024
                  2 Min Read</p>
              <p class="news_text">Assassin's Creed Mirage - Launch Trailer for iOS | Ubisoft Forward

              </p>
              <p class="news_text_two">Get ready to explore every corner of Assassin’s Creed Shadows with  the Complete Official Guide <br>by Piggyback, coming to you on November 15 in</p>
              <button class="news_btn">Read more</button>
              <p class="news_foot">Assassin's Creed Mirage</p>
          </div>
      </div>
      <div class="news_card_one_row">
          <div class="news_card_one_row">
              <img src="https://staticctf.ubisoft.com/J3yJr34U2pZ2Ieem48Dwy9uqj5PNUQTn/5jbBiLd6zLmfBwQr0zPh7z/a83709bcbc3e4723b3a94e3e254a07d1/NewsThumbnail_960x540.jpg" alt="" class="news_img">
              <p class="news_date">22 August 2024
                  1 Min Read</p>
              <p class="news_text">Assassin's Creed Mirage - Now available on iPhone and iPad
              </p>
              <p class="news_text_two">Enjoy the Assassin's Creed Mirage experience on iPhone 15 Pro, iPhone 15 Pro Max, iPad Air and iPad Pro with M1 chip or later, and discover Basim's journey on the go.

              </p>

              <button class="news_btn">Read more</button>
              <p class="news_foot">Assassin's Creed Mirage</p>
          </div>
      </div>



  </div>
  <div class="btn_nws">
  <button routerLink="News" class="news_last">All news</button>

</div>
</div>









