<div class="slid">
    
    <h2>.</h2>
    <div class="slid_in">
        <div class="slid_img">
        <img src="https://staticctf.ubisoft.com/J3yJr34U2pZ2Ieem48Dwy9uqj5PNUQTn/1Rr0bpJFhW008oySMoJuRo/7a3a85b480a894883a415db804895e7b/ac2_logo.png" alt="" class="slidm">
    </div>
    <div class="slid_img_ii">
        <img src="https://img.wattpad.com/fbaec249591610689b4ba3843c10b1f53e395054/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f776174747061642d6d656469612d736572766963652f53746f7279496d6167652f66636d70717552557744586431773d3d2d313432383839343932392e3137626531663935306636366465663532353134313431323933372e676966" alt="" class="slidb">
    </div>
    
    <p class="slid_one">Assassin's Creed II introduces you to Ezio, a new <br> assassin carrying on the deadly lineage of his  forebears.<br> Confront an epic tale of power and  corruption <br> as you hone your Assassin's art,  wielding <br> weapons and  instruments designed by <br> the legendary Leonardo Da Vinci himself in this <br> gripping and deadly sequel.





    </p>

        <button routerLink="Games"class="slid_btn">Check The Games</button>

    </div>
</div>
<section class="two">
  <h1 class="jsdfasf">.</h1>
  <div class="twys">
  <h1 class="twoh1">Game Overview
  </h1>


 
</div>
<div class="all">
  <section class="first">
    <div class="first_one">
        <img src="https://staticctf.ubisoft.com/J3yJr34U2pZ2Ieem48Dwy9uqj5PNUQTn/KYhNuXkKB70173MTMTQXc/6f24c6421c2c80b5bd5330bc08dd1b23/ac-ii-screenshot-1.jpg" alt="" class="first_img">
        <div class="first_d">
        
        <p class="firstp">Explore the deadly, shadowed world of the assassin with new assassin Ezio.



        </p>
        
    </div>
    </div>
  </section>

  <section class="first">
    <div class="first_one">
        <img src="https://staticctf.ubisoft.com/J3yJr34U2pZ2Ieem48Dwy9uqj5PNUQTn/6TYSFhvRuyt2dDWZ0kg7KV/63042dcb5aeb3d3e0497759ac686e14d/ac-ii-screenshot-2.jpg" alt="" class="first_img">
        <div class="first_d">
        
        <p class="firstp">Experience heavy action blended with fluid and precise animations. Use a wide range of medieval weapons, and face your enemies in realistic swordfight duels.



        </p>
        

    </div>
    </div>
  </section>

  <section class="first">
    <div class="first_one">
        <img src="https://staticctf.ubisoft.com/J3yJr34U2pZ2Ieem48Dwy9uqj5PNUQTn/4HtMF5UmAj4cIBaZAeHywa/e5c01f2e1399ffca82255dece9481bfc/ac-ii-screenshot-3.jpg" alt="" class="first_img">
        <div class="first_d">
        
        <p class="firstp">Stalk your prey through richly detailed, historically accurate, open-ended environments. Scale buildings, mount horses, blend in with crowds. Do whatever it takes to achieve your objectives.



        </p>
        

    </div>
    </div>
  </section>

  <h6 class="fu">.</h6>


</div>

</section>

<section class="media">
    <h2>.</h2>
  <div class="jsa">
  <h1 class="mediah">M E D I A</h1>
</div>
  <div class="mediatwo">
  <img src="https://staticctf.ubisoft.com/J3yJr34U2pZ2Ieem48Dwy9uqj5PNUQTn/6QaaeBlNOdfduO7mjXJ968/a3a1951b4aee668314c12bbedf66e579/-ACII-_Screenshots_-_1.jpg" alt="" class="media_img">
  <img src="https://staticctf.ubisoft.com/J3yJr34U2pZ2Ieem48Dwy9uqj5PNUQTn/3scVp8xK8WCvad1zmHtJxf/53cab66f5c29340786a21b8b508e8500/-ACII-_Screenshots_-_2.jpg" alt="" class="media_img">
  <img src="https://staticctf.ubisoft.com/J3yJr34U2pZ2Ieem48Dwy9uqj5PNUQTn/4l8y9tTOQq6sZdskX7DCYD/553d563e446012e3aeae2f5c44af3ee8/-ACII-_Screenshots_-_3.jpg" alt="" class="media_img">
  <img src="https://staticctf.ubisoft.com/J3yJr34U2pZ2Ieem48Dwy9uqj5PNUQTn/02juYcSpVr3jqgO5cnrHu/331204db5b8570cba8fa209ad4681c6f/-ACII-_Screenshots_-_4.jpg" alt="" class="media_img">
  <img src="https://staticctf.ubisoft.com/J3yJr34U2pZ2Ieem48Dwy9uqj5PNUQTn/4CdAD2JX2wqu1ytWiPxP3j/22a03244ad0ca72015e86de0d3cf50ec/-ACII-_Screenshots_-_5.jpg" alt="" class="media_img">
  <img src="https://staticctf.ubisoft.com/J3yJr34U2pZ2Ieem48Dwy9uqj5PNUQTn/10yrwYOW3oTP0NYBqHnJbg/f22d4c3833ef7e782f9d4e4ff9d60fb6/-ACII-_Screenshots_-_6.jpg" alt="" class="media_img">
  <img src="https://staticctf.ubisoft.com/J3yJr34U2pZ2Ieem48Dwy9uqj5PNUQTn/jmgQ9HLxYdObvhzpru54c/405d00bd6ab8e4d60caddee8a1e9d65c/-ACII-_Screenshots_-_7.jpg" alt="" class="media_img">
  <img src="https://staticctf.ubisoft.com/J3yJr34U2pZ2Ieem48Dwy9uqj5PNUQTn/76sIQdYW8CMPWrimRwPmb7/2bd21aca4d3cb501f96afab9b8d13ab7/-ACII-_Screenshots_-_8.jpg" alt="" class="media_img">
  <img src="https://wallpaper.dog/large/20404015.jpg" alt="" class="media_img">
</div>
<h6 class="fu">.</h6>
</section>

