<header>
    <h1>.</h1>
    <div class="header2">
    <h2>MORE THAN GAMES</h2>
    <p class="headerp">Keep diving into the Assassin’s Creed universe with exclusive <br> products, artworks, books, collections… Discover more about <br> the franchise through partner original creations and lifestyle <br> goods.
    </p>
</div>
</header>

<div class="news_card">
    <h4>Latest News & Videoss</h4>
    <h3>Trending: Assassin's Creed Shadows announcement</h3>
    <div class="news_card_one">
        <div class="news_card_one_row">
            <img src="https://staticctf.ubisoft.com/J3yJr34U2pZ2Ieem48Dwy9uqj5PNUQTn/20F1JznoAsdaQ95mpV08ve/28b34cf35e4dc1892166b9bf35e519b8/acf-merch-acs-yasuke_helmet-naoe_blade-pure_arts.jpg" alt="" class="news_img">
            
            <p class="news_text">Assassin's Creed Shadows Naoe Hidden Blade 1/1 Scale Replica</p>
            <a href="https://www.purearts.com/collections/assassins-creed/products/assassins-creed-shadows-naoe-hidden-blade-1-1-scale-replica"><button class="news_btn">Buy Now</button></a>
           
        </div>
        <div class="news_card_one_row">
            <div class="news_card_one_row">
                <img src="https://staticctf.ubisoft.com/J3yJr34U2pZ2Ieem48Dwy9uqj5PNUQTn/42F1EZwe0O8HSz9HO5V4yu/815ec3f43bdd8863f5e3ead10236e8c9/ACS-Piggyback_News_960x540.jpg" alt="" class="news_img">
                
                   
                <p class="news_text">Assassin’s Creed Shadows – The <br> Complete Official Guide</p>
                <p class="news_text_two">Get ready to explore every corner of Assassin’s Creed Shadows with  the Complete Official Guide <br>by Piggyback, coming to you on November 15 in</p>
                <button class="news_btn">Buy Now</button>
                
            </div>
        </div>
        <div class="news_card_one_row">
            <div class="news_card_one_row">
                <img src="https://staticctf.ubisoft.com/J3yJr34U2pZ2Ieem48Dwy9uqj5PNUQTn/3xMWAk8ccdyJfvnhMGcSWO/04978c190573ef5e3d61b7b17d54de56/Echoes_of_History_Shadows.jpg" alt="" class="news_img">
                
                <p class="news_text">Try Assassin's Creed Music!</p>
                <p class="news_text_two"></p>

                <a href="https://lnkfi.re/1YFL0t"><button class="news_btn">Listen now</button></a>
                
            </div>
        </div>
    </div>


        <div class="news_cards">
            <h4>Latest News & Videoss</h4>
            <h3>Assassin’s Creed Symphonic Adventure</h3>
            <div class="news_card_ones">
                <div class="news_card_one_row">
                    <img src="https://staticctf.ubisoft.com/J3yJr34U2pZ2Ieem48Dwy9uqj5PNUQTn/16TGw21t4uPH8chCyKYKta/416b1a82a2664d7aaa22d5028d14d4a8/acf-symphonic-adventure-540.jpg" alt="" class="news_img">
                    
                    <p class="news_text">Assassin’s Creed Symphonic Adventure</p>
                    <a href="https://assassinscreedsymphonicadventure.com/tour/"><button class="news_btn">Creed Symphonic Adventure</button></a>
                   
                </div>

                
               
                <div class="news_card_one_row">
                    <div class="news_card_one_row">
                        <img src="https://staticctf.ubisoft.com/J3yJr34U2pZ2Ieem48Dwy9uqj5PNUQTn/16TGw21t4uPH8chCyKYKta/416b1a82a2664d7aaa22d5028d14d4a8/acf-symphonic-adventure-540.jpg" alt="" class="news_img">
                        
                        <p class="news_text">Assassin's Creed Symphonic Adventure: World Premiere concert aftermovie</p>
                        <p class="news_text_two"></p>
        
                        <a href="https://www.ubisoft.com/en-gb/game/assassins-creed/publishing"><button class="news_btn">Listen now</button></a>
                        
                    </div>
                </div>
            </div>
        </div>
        
        <div class="news_card">
            <h4>Latest News & Videoss</h4>
            <h3>Merchandise </h3>
            <div class="news_card_one">
                <div class="news_card_one_row">
                    <img src="https://staticctf.ubisoft.com/J3yJr34U2pZ2Ieem48Dwy9uqj5PNUQTn/3s6dlCHMeCVlBL4S6XPaRj/faddc778c32789e32e35cd993d9b2a9d/Magic_the_Gathering.jpg" alt="" class="news_img">
                    
                    <p class="news_text">Magic: The Gathering – Assassin’s Creed® Product Lineup</p>
                    <a href="https://magic.wizards.com/en/products/assassins-creed?utm_source=ubisoft&utm_medium=referral&utm_campaign=acr-web"><button class="news_btn">Buy Now</button></a>
                   
                </div>
                <div class="news_card_one_row">
                    <div class="news_card_one_row">
                        <img src="https://staticctf.ubisoft.com/J3yJr34U2pZ2Ieem48Dwy9uqj5PNUQTn/11y7cnhOwrcdbhra1m5JWy/85a16331e135767d38e721fdd56ca823/acf-merch-01-ac-table-top-game.jpg" alt="" class="news_img">
                        
                           
                        <p class="news_text">Assassin’s Creed Shadows Role Play Game</p>
                        <p class="news_text_two">Immerse yourself in the legendary Assassin’s Creed© video game universe. Play across time from the modern day to the ancient world, experiencing different eras and interpreting characters belonging to cultures from every corner of the planet. The fight between the Assassin Brotherhood and the Templars is more than a battle of stealth and blades. It is a conflict between tyranny and free will that affects humanity itself.</p>
                        <button class="news_btn">Buy Now</button>
                        
                    </div>
                </div>
                <div class="news_card_one_row">
                    <div class="news_card_one_row">
                        <img src="https://staticctf.ubisoft.com/J3yJr34U2pZ2Ieem48Dwy9uqj5PNUQTn/nlaazjKnOkTwDQvyReLs0/555487a5517f84e2be9240a4f6354ba5/acf-merch-03-ac-displate-metal-posters.jpg" alt="" class="news_img">
                        
                        <p class="news_text">Assassin's Creed Posters - prints on metal!</p>
                        <p class="news_text_two"></p>
        
                        <a href="https://displate.com/licensed/assassins-creed?view=collections"><button class="news_btn">Buy now</button></a>
                        
                    </div>
                </div>
            </div>
            

            <div class="news_card">
    <h4>Latest News & Videoss</h4>
    <h3>BOOKS</h3>
    <div class="news_card_one">
        <div class="news_card_one_row">
            <img src="https://staticctf.ubisoft.com/J3yJr34U2pZ2Ieem48Dwy9uqj5PNUQTn/6OFGydQSiLlHJDCezqkC21/5c7fc0249e0ae2aeb269ecd6c6db53f4/acf-books-daughter-of-no-one.jpg" alt="" class="news_img">
            
            <p class="news_text">Assassin's Creed Mirage: Daughter of No One</p>
            <a href="https://aconytebooks.com/shop/assassins-creed-mirage-daughter-of-no-one-by-maria-lewis/"><button class="news_btn">Read now</button></a>
            <p class="news_foot">Assassin's Creed Mirage: Daughter of No One</p>
        </div>
        <div class="news_card_one_row">
            <div class="news_card_one_row">
                <img src="https://staticctf.ubisoft.com/J3yJr34U2pZ2Ieem48Dwy9uqj5PNUQTn/561TmSMeUrRkIRk6lwkTDE/acf1097a494b1896033e407945b95471/acf-books-ac_dynasty_manga.jpg" alt="" class="news_img">
                
                <p class="news_text">Assassin's Creed Dynasty</p>
                <p class="news_text_two">In the 14th year of the Tianbao Era (CE 755) An Lushan, a military governor with ties to the Knights Templar, leads his elite corps to rebel against the Tang Dynasty, and the ill-prepared Tang empire... </p>
                <button class="news_btn">Read more</button>
                <p class="news_foot">Assassin's Creed Dynasty</p>
            </div>
        </div>
        <div class="news_card_one_row">
            <div class="news_card_one_row">
                <img src="https://staticctf.ubisoft.com/J3yJr34U2pZ2Ieem48Dwy9uqj5PNUQTn/4QsCdFeIW1nSmAJcStm3kH/f021df5b65be8fb3c45c6da8173190be/acf-books-ac_artbook.jpg" alt="" class="news_img">
                
                <p class="news_text">The Art of Assassin's Creed Mirage HC</p>
                <p class="news_text_two">This masterfully designed oversized hardcover art book invites the reader on a visual journey through the world of Assassin's Creed Mirage--a world defined by the dense and vibrant city of ninth century Baghdad, rich with fascinating characters and unique places.</p>

                <button class="news_btn">Read more</button>
                <p class="news_foot">The Art of Assassin's Creed Mirage HC</p>
            </div>
        </div>
    </div>
</div>
<div class="last">
    
</div>
