<body>
    <h6>.</h6>

<section class="detal">
    <div class="detal_img">
        <img src="https://i.ytimg.com/vi/hBgPiM-AzpU/sddefault.jpg" alt="" class="as_img">
    </div>
    <div class="deatl_text">
        <h1>Assassin's Creed: Embers!</h1>
        <p class="detal_p">is an animated short film released by Ubisoft as a conclusion to the story of Ezio Auditore, one of the most beloved protagonists in the Assassin's Creed series. It was launched as a part of the Assassin's Creed Revelations special editions in 2011 and serves as a poignant epilogue to Ezio's life and the legacy he leaves behind.</p>
        <a href="http://localhost:4200/buygame"><button class="detal_btn">Buy Now</button></a>
    </div>
</section>

<section class="two">
    <div class="texts">
        <h2>Assassin's Creed: Embers Trailer</h2>
        <p class="text_p">Assassin's Creed: Embers is a live-action prequel to Assassin's Creed II, following Giovanni Auditore, father of Ezio, as he navigates the conflict between Assassins and Templars in Renaissance Italy. The series consists of three short episodes.</p>
    </div>
    <div class="videos_two">
        <iframe width="1093" height="615" src="https://www.youtube.com/embed/op1pPKCIuBU" title="Assassin&#39;s Creed Embers Trailer" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>    </div>
</section>
<section class="movie_watch">
    

    <iframe width="1128" height="635" src="https://www.youtube.com/embed/VZ6lIW9Ls30" title="Assassin&#39;s Creed: Embers - Full Movie" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>




</section>
<section class="lalal">
    <h3>Media</h3>
<section class="medias">
    
   
    
    <img src="https://i.ytimg.com/vi/WKILuBsnBzQ/hq720.jpg?sqp=-oaymwEhCK4FEIIDSFryq4qpAxMIARUAAAAAGAElAADIQj0AgKJD&rs=AOn4CLBB_CLfck-27DOlPovZ4gSDGT-w5g" alt="" class="medias_imgs">
    <img src="https://i.ytimg.com/vi/xXwHnoVghuY/hq720.jpg?sqp=-oaymwEhCK4FEIIDSFryq4qpAxMIARUAAAAAGAElAADIQj0AgKJD&rs=AOn4CLAfNOHb59CdtDQn_hcClYbTuAKKvw" alt="" class="medias_imgs">
    <img src="https://i.ytimg.com/vi/HMBdD-J4j5c/hq720.jpg?sqp=-oaymwEhCK4FEIIDSFryq4qpAxMIARUAAAAAGAElAADIQj0AgKJD&rs=AOn4CLDuG5E80LLEetfSPXaRiI-E72uG3w" alt="" class="medias_imgs">
    <img src="https://i.ytimg.com/vi/VZ6lIW9Ls30/hq720.jpg?sqp=-oaymwEhCK4FEIIDSFryq4qpAxMIARUAAAAAGAElAADIQj0AgKJD&rs=AOn4CLBtpzzgJ3fyv4OJG2y0YcV3o15HCA" alt="" class="medias_imgs">
</section>
</section>
<h6>.</h6>
</body>