
<div class="slid">
    
    <h2>.</h2>
    <div class="slid_in">
        <div class="slid_img">
        <img src="https://staticctf.ubisoft.com/J3yJr34U2pZ2Ieem48Dwy9uqj5PNUQTn/1sjZQ2CVLQCPhQvuTdLylU/da75a2eca64a0a8a0bc3323eb598d295/ac_franchise_logo_desktop.png" alt="" class="slidm">
    </div>
    <div class="slid_img_ii">
        <img src="https://steamuserimages-a.akamaihd.net/ugc/3316083770692244088/0D5F03205154F7C71C94937CFD3C4D15FA331202/?imw=5000&imh=5000&ima=fit&impolicy=Letterbox&imcolor=%23000000&letterbox=false" alt="" class="slidb">
    </div>
    
    <p class="slid_one">The Original Assassin
        The setting is 1191 AD. The <br> third crusade is tearing the holy land apart. You, Altaïr, <br> intend to stop the hostilities by suppressing both sides of <br> the conflict.



    </p>

        <button routerLink="Games"class="slid_btn">Check The Games</button>

    </div>
</div>
<section class="two">
  <h1 class="jsdfasf">.</h1>
  <div class="twys">
  <h1 class="twoh1">About the Game</h1>
  <p class="twop">In Assassin's Creed Mirage, you are Basim, a cunning street thief <br> with nightmarish visions seeking answers and justice.

  </p>
  <p class="twop">Join an ancient organisation and come to understand a new creed – <br>one that will change Basim’s fate in ways he never could have <br>imagined.

  </p>
</div>
<div class="all">
  <section class="first">
    <div class="first_one">
        <img src="https://staticctf.ubisoft.com/J3yJr34U2pZ2Ieem48Dwy9uqj5PNUQTn/STNA8wMcQAfHTiYAOGfCF/abd3b0c626165da7b747e1481839e47b/AC1_game_overview_1.jpg" alt="" class="first_img">
        <div class="first_d">
        <h2 class="firsth2">Game that started it all
        </h2>
        <p class="firstp">You are an Assassin, stalking your prey with a hidden blade. A warrior shrouded in secrecy and feared for your ruthlessness. Your actions can throw your immediate environment into chaos, and your existence will shape events during this pivotal moment in history.

        </p>
        
    </div>
    </div>
  </section>

  <section class="first">
    <div class="first_one">
        <img src="https://staticctf.ubisoft.com/J3yJr34U2pZ2Ieem48Dwy9uqj5PNUQTn/1ejOTATiVr8Eb0Q68lnUKU/f08a0b025c6c3dff50817e3dbab6d26b/AC1_game_overview_2.jpg" alt="" class="first_img">
        <div class="first_d">
        <h2 class="firsth2">Master the skills

        </h2>
        <p class="firstp">Master the skills, tactics and weapons of history’s deadliest and most secretive clan of warriors including the deadly Hidden Blade.

        </p>
        

    </div>
    </div>
  </section>

  <section class="first">
    <div class="first_one">
        <img src="https://staticctf.ubisoft.com/J3yJr34U2pZ2Ieem48Dwy9uqj5PNUQTn/TB0VYMc818jNVBlP904xJ/4b8db10f22756164afa450f2b550b7f4/AC1_game_overview_3.jpg" alt="" class="first_img">
        <div class="first_d">
        <h2 class="firsth2">Achieve your objective
        </h2>
        <p class="firstp">Stalk your prey through richly detailed, historically accurate, open-ended environments. Scale buildings, mount horses, blend in with crowds. Do whatever it takes to achieve your objectives.

        </p>
        

    </div>
    </div>
  </section>

  <h6 class="fu">.</h6>


</div>

</section>

