<header>
    <h1>.</h1>
    <div class="headet2">
    <h2>Assassin’s Creed Franchise News</h2>
    <p class="headerp">News and updates for shadows,Mirage,Valhalla & all things Assassin’s Creed</p>
</div>
</header>
<div class="news_card">
    <h4>Latest News & Videoss</h4>
    <div class="news_card_one">
        <div class="news_card_one_row">
            <img src="https://i.ytimg.com/vi/zKua34QXhMA/maxresdefault.jpg" alt="" class="news_img">
            <p class="news_date">12 September 2024</p>
            <p class="news_text">Assassin's Creed Shadows: <br> World Trailer</p>
            <a href="https://www.youtube.com/watch?v=vovkzbtYBC8"><button class="news_btn">Watch Now</button></a>
            <p class="news_foot">Assassin's Creed Shadows</p>
        </div>
        <div class="news_card_one_row">
            <div class="news_card_one_row">
                <img src="https://media1.giphy.com/media/v1.Y2lkPTc5MGI3NjExYXJobzZhemV1bXd0Y2lxMGR6MjJxMXVjczR3YjBrbXhjZDB5NXg2ZiZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/qMK2v9K0CiXiRrZWAj/giphy.webp" alt="" class="news_img">
                <p class="news_date">1 September 2024
                    2 Min Read</p>
                <p class="news_text">Assassin’s Creed Shadows – The <br> Complete Official Guide</p>
                <p class="news_text_two">Get ready to explore every corner of Assassin’s Creed Shadows with  the Complete Official Guide <br>by Piggyback, coming to you on November 15 in</p>
                <button class="news_btn">Read more</button>
                <p class="news_foot">Assassin's Creed Shadows</p>
            </div>
        </div>
        <div class="news_card_one_row">
            
            <div class="news_card_one_row">
                <img src="https://staticctf.ubisoft.com/J3yJr34U2pZ2Ieem48Dwy9uqj5PNUQTn/kJYJ5vV7BJWKLpJgdX0UK/b10ddfa98a493fd42de7d798d3d3e518/acm-backbone-thumnbnail.jpg" alt="" class="news_img">
                <p class="news_date">22 August 2024
                    1 Min Read</p>
                <p class="news_text">Try Assassin's Creed Mirage on iOS with the Backbone One!</p>
                <p class="news_text_two">Still haven't played Assassin's Creed Mirage? Enjoy a smooth gaming experience on your iPhone 15 Pro with the Backbone One.</p>

                <button class="news_btn">Read more</button>
                <p class="news_foot">Assassin's Creed Mirage</p>
            </div>
        </div>
        <div class="news_card_one_row">
            <div class="news_card_one_row">
                <img src="https://i.ytimg.com/vi/IFnLUfEgjYs/maxresdefault.jpg" alt="" class="news_img">
                <p class="news_date">22 August 2024
                    1 Min Read</p>
                <p class="news_text">Assassin’s Creed Shadows</p>
                <p class="news_text_two">Get ready to explore every corner of Assassin’s Creed Shadows with  the Complete Official Guide <br>by Piggyback, coming to you on November 15 in</p>

                <button class="news_btn">Read more</button>
                <p class="news_foot">Assassin's Creed Shadow</p>
            </div>
        </div>
        <div class="news_card_one_row">
            <div class="news_card_one_row">
                <img src="https://staticctf.ubisoft.com/J3yJr34U2pZ2Ieem48Dwy9uqj5PNUQTn/4YVinlwYbhHpV43K9ATRin/c2c87b9c425652e56ba4f7d0c9ccdf8a/Website_Thumbnail_DCLogo.jpg" alt="" class="news_img">
                <p class="news_date">22 August 2024
                    1 Min Read</p>
                <p class="news_text">Assassin’s Creed Shadows</p>
                <p class="news_text_two">Live the intertwined stories of Naoe, an adept shinobi Assassin from Iga Province, and Yasuke, the powerful African samurai of historical legend. Against the backdrop of the turbulent late Sengoku period, this remarkable duo will discover their common destiny as they usher in a new era for Japan.</p>

                <button class="news_btn">Read more</button>
                <p class="news_foot">Assassin’s Creed Shadows</p>
            </div>
        </div>
        <div class="news_card_one_row">
            <div class="news_card_one_row">
                <img src="https://i.ytimg.com/vi/6Ci-skojW0M/maxresdefault.jpg" alt="" class="news_img">
                <p class="news_date">22 August 2024
                    1 Min Read</p>
                <p class="news_text">Assassin’s Creed Shadows</p>
                <p class="news_text_two">oming February 14. Available on PlayStation®5 & Xbox Series X|S, Ubisoft+, Amazon Luna, Macs with Apple silicon via the Mac App Store as well as Windows PC through the Ubisoft Store, Steam and the Epic Games Store. Also coming to iPad.</p>

                <button class="news_btn">Read more</button>
                <p class="news_foot">Assassin’s Creed Shadows</p>
            </div>
        </div>
        <div class="news_card_one_row">
            <div class="news_card_one_row">
                <img src="https://i.ytimg.com/vi/b2crLch9Mb8/maxresdefault.jpg" alt="" class="news_img">
                <p class="news_date">22 August 2024
                    1 Min Read</p>
                <p class="news_text">Assassin’s Creed Shadows</p>
                <p class="news_text_two">Live the intertwined stories of Naoe, an adept shinobi Assassin from Iga Province, and Yasuke, the powerful African samurai of historical legend. Against the backdrop of the turbulent late Sengoku period, this remarkable duo will discover their common destiny as they usher in a new era for Japan.</p>

                <button class="news_btn">Read more</button>
                <p class="news_foot">Assassin’s Creed Shadows</p>
            </div>
        </div>
        <div class="news_card_one_row">
            <div class="news_card_one_row">
                <img src="https://i.ytimg.com/vi/VjtodH83_I0/maxresdefault.jpg" alt="" class="news_img">
                <p class="news_date">22 August 2024
                    1 Min Read</p>
                <p class="news_text">Try Assassin's Creed Mirage on iOS with the Backbone One!</p>
                <p class="news_text_two">Still haven't played Assassin's Creed Mirage? Enjoy a smooth gaming experience on your iPhone 15 Pro with the Backbone One.</p>

                <button class="news_btn">Read more</button>
                <p class="news_foot">Assassin's Creed Mirage</p>
            </div>
        </div>
        <div class="news_card_one_row">
            <div class="news_card_one_row">
                <img src="https://staticctf.ubisoft.com/J3yJr34U2pZ2Ieem48Dwy9uqj5PNUQTn/3Pm2xG1udNaAOw3Y4nWRNt/74ecd72ce7d93794c3647a1e851cccda/acm-news-iOS-thumbnail960x540.jpg" alt="" class="news_img">
                <p class="news_date">22 August 2024
                    1 Min Read</p>
                <p class="news_text">Assassin's Creed Mirage is coming to iOS!</p>
                <p class="news_text_two">Assassin's Creed Mirage will be launching on June 6 on the App Store for iPhone 15 Pro, iPhone 15 Pro Max, iPad Air and iPad Pro with M1 chip or later.</p>

                <button class="news_btn">Read more</button>
                <p class="news_foot">Assassin's Creed Mirage</p>
            </div>
        </div>
        <div class="news_card_one_row">
            <div class="news_card_one_row">
                <img src="https://staticctf.ubisoft.com/J3yJr34U2pZ2Ieem48Dwy9uqj5PNUQTn/1q0BvQfjUwoB0FikHfvnYr/5b4d05a954ea8d6d899ca6deee865837/ACSTORIES_GOLDEN_CITY.jpg" alt="" class="news_img">
                <p class="news_date">22 August 2024
                    1 Min Read</p>
                <p class="news_text">Assassin's Creed: The Golden City!</p>
                <p class="news_text_two"> young emperor's life hangs in the balance in ancient Constantinople, and only the Brotherhood of Assassins can save him, in this action-packed historical adventure from the award-winning Assassin's Creed universe</p>

                <button class="news_btn">Read more</button>
                <p class="news_foot">Assassin's Creed: The Golden City</p>
            </div>
        </div>
        <div class="news_card_one_row">
            <div class="news_card_one_row">
                <img src="https://staticctf.ubisoft.com/J3yJr34U2pZ2Ieem48Dwy9uqj5PNUQTn/1NCp1EOxt8nzsktQg5UDKw/5933a9a1aabab265c918f77c805a9e47/Literature_05_Underworld_960x540.png" alt="" class="news_img">
                <p class="news_date">22 August 2024
                    1 Min Read</p>
                <p class="news_text">Assassin’s Creed: Underworld</p>
                <p class="news_text_two">  disgraced Assassin. A deep-cover agent. A quest for redemption. Rediscover the story of Jacob and Evie Frye in this novelization of Assassin’s Creed : Syndicate.

                    The year is 1862, and with London in the grip of the Industrial Revolution, the world's first underground railway is under construction. When a body is discovered at the dig, it sparks the beginning of the latest deadly chapter in the centuries-old battle between the Assassins and Templars.</p>

                <button class="news_btn">Read more</button>
                <p class="news_foot">Assassin’s Creed: Underworld</p>
            </div>
        </div>
        <div class="news_card_one_row">
            <div class="news_card_one_row">
                <img src="https://staticctf.ubisoft.com/J3yJr34U2pZ2Ieem48Dwy9uqj5PNUQTn/2MLqbixDE6UYcWZemxQxu0/33e32989213f10bbcb3c001dc512ec4a/Artbook_05_ACOrigins.jpg" alt="" class="news_img">
                <p class="news_date">31 March 2021

                    
                    1 Min Read</p>
                <p class="news_text">The Art of Assassin’s Creed Origins</p>
                <p class="news_text_two">  Discover exclusive art and illustration from the game

                    The Art of Assassin's Creed Origins collates hundreds of concept arts, including sketches, final paintings, and 3D Renders, alongside in-depth commentary from the artists and developers, representing the ultimate insight into the design processes behind the game.

                    </p>

                <button class="news_btn">Read more</button>
                <p class="news_foot">The Art of Assassin’s Creed Origins</p>
            </div>
        </div>
    </div>
        <div class="footas">
            
        </div>





        