<body>
    <h6>.</h6>

<section class="detal">
    <div class="detal_img">
        <img src="https://staticctf.ubisoft.com/J3yJr34U2pZ2Ieem48Dwy9uqj5PNUQTn/4ZyYphQO033pcqNuyhgRad/96c72be8c9369e883f456790d6fe1e8b/ent-filmtv-acmovie-product-about-boxshot.jpg" alt="" class="as_img">
    </div>
    <div class="deatl_text">
        <h1>Your Destiny Is In Your Blood!</h1>
        <p class="detal_p">Through a revolutionary technology that unlocks his genetic memories, Callum Lynch (Michael <br> Fassbender) experiences the adventures of his ancestor, Aguilar, in 15th Century Spain. Callum <br>discovers he is descended from a mysterious secret society, the Assassins, and amasses incredible <br> knowledge and skills to take on the oppressive and powerful Templar organization in the present <br> day.</p>
        <a href="http://localhost:4200/buygame"><button class="detal_btn">Shop Now</button></a>
    </div>
</section>

<section class="two">
    <div class="texts">
        <h2>Assassin’s Creed | "Leap of Faith" Clip [HD] | 20th Century FOX</h2>
        <p class="text_p">Through a revolutionary technology that unlocks his genetic memories, Callum Lynch (Michael Fassbender) experiences the adventures of his ancestor, Aguilar, in 15th Century Spain.</p>
    </div>
    <div class="videos_two">
        <iframe width="1093" height="615" src="https://www.youtube.com/embed/xLBZ1_J1xvM" title="Assassin’s Creed | Official Trailer [HD] | 20th Century FOX" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
    </div>
</section>
<section class="lalal">
    <h3>Media</h3>
<section class="medias">
    
   
    
    <img src="https://staticctf.ubisoft.com/J3yJr34U2pZ2Ieem48Dwy9uqj5PNUQTn/3UosGvol9CV1IlxZqTL68L/3aa1da2cdd76fc59a43ce77f53356c54/ent-filmtv-acmovie-screenshots-01-thumbnail.jpg" alt="" class="medias_imgs">
    <img src="https://staticctf.ubisoft.com/J3yJr34U2pZ2Ieem48Dwy9uqj5PNUQTn/6Q5D4LlJu6EJ6yj89dkOOk/6ba2431bed3d5696d983397478261cfb/ent-filmtv-acmovie-screenshots-02-thumbnail.jpg" alt="" class="medias_imgs">
    <img src="https://staticctf.ubisoft.com/J3yJr34U2pZ2Ieem48Dwy9uqj5PNUQTn/5GvxLXlZEtb4OW8SPSTqUm/4219b254fe3eecff597eabbecfc27d04/ent-filmtv-acmovie-screenshots-03-thumbnail.jpg" alt="" class="medias_imgs">
    <img src="https://staticctf.ubisoft.com/J3yJr34U2pZ2Ieem48Dwy9uqj5PNUQTn/7EHTlTFXBRTgf4zYHY0DWr/06ef18d3055cc4e5a11dcc303536f88b/ent-filmtv-acmovie-screenshots-04-thumbnail.jpg" alt="" class="medias_imgs">
</section>
</section>
<h6>.</h6>
</body>