<div class="slid">
    
    <h2>.</h2>
    <div class="slid_in">
        <div class="slid_img">
        <img src="https://staticctf.ubisoft.com/J3yJr34U2pZ2Ieem48Dwy9uqj5PNUQTn/Kbu9zgugVP6CZ0qZYs7KY/b7d7dc02b4ba4e2290b50cd51f27c783/ac4-hero-logo-white.png" alt="" class="slidm">
    </div>
    <div class="slid_img_ii">
        <img src="https://fc07.deviantart.net/fs70/f/2013/068/6/c/assassin_s_creed_4_black_flag_v_style_by_graphfun-d5xfqk7.gif" alt="" class="slidb">
    </div>
    
    
    <p class="slid_one">With compelling characters, an expansive world, and <br> an incredible amount of pirate activities to engage in, <br> Assassin’s Creed IV Black Flag is the largest and most <br> immersive Assassin’s game in the franchise.



        
    </p>

        <button routerLink="Games"class="slid_btn">Check The Games</button>

    </div>
</div>
<section class="two">
  <h1 class="jsdfasf">.</h1>
  <div class="twys">
  <h1 class="twoh1">Game Overview
  </h1>


 
</div>
<div class="all">
  <section class="first">
    <div class="first_one">
        <img src="https://staticctf.ubisoft.com/J3yJr34U2pZ2Ieem48Dwy9uqj5PNUQTn/2pZ21EP8DWGEhW0PAYYFd/eeab56dcfb8de291f94488601b77b70b/ac4_ss3_full.jpg" alt="" class="first_img">
        <div class="first_d">
            <h2 class="firsth2">The Golden Age of Pirates



            </h2>
        <p class="firstp">Assassin's Creed IV Black Flag begins in 1715, when pirates established a lawless republic in the Caribbean and ruled the land and seas. These outlaws paralyzed navies, halted international trade, and plundered vast fortunes. They threatened the power structures that ruled Europe, inspired the imaginations of millions, and left a legacy that still endures.







        </p>
        
    </div>
    </div>
  </section>

  <section class="first">
    <div class="first_one">
        <img src="https://staticctf.ubisoft.com/J3yJr34U2pZ2Ieem48Dwy9uqj5PNUQTn/xz1F4FUSc3YgsQnnl2iXe/01157c89feeba89f433092c7bc7c0f76/ac4_ss4_full.jpg" alt="" class="first_img">
        <div class="first_d">
            <h2 class="firsth2">The Caribbean at the Dawn of the 18th Century




            </h2>
        <p class="firstp">The fullest Assassin’s Creed world ever created. Stand among legendary pirates such as Blackbeard, Calico Jack and Benjamin Hornigold, as you establish a lawless republic in the Bahamas and relive the truly explosive events that defined the Golden Age of Pirates. From Kingston to Nassau, explore 50 unique locations where you can live the life of a pirate. Captain and customize your own ship, search for lost treasure, hunt rare animals and loot underwater shipwrecks.







        </p>
        

    </div>
    </div>
  </section>

  <section class="first">
    <div class="first_one">
        <img src="https://staticctf.ubisoft.com/J3yJr34U2pZ2Ieem48Dwy9uqj5PNUQTn/4KbfkkNUv0Nm0SWnEBVo0P/df5b08fbbf1f2f6da267d1bfb0e5fcb3/ac4_ss5_full.jpg" alt="" class="first_img">
        <div class="first_d">
            <h2 class="firsth2">Edward Kenway




            </h2>
        <p class="firstp">Into this world sails a young, cocky, and fearsome captain named Edward Kenway. His skill with a sword and disdain for authority earn him the respect of pirate legends like Blackbeard, but thrust him. Get to know Captain Edward Kenway and his host of fearsome pirate allies, like Charles Vane, Anne Bonny, Calico Jack and Blackbeard. Take on pirate hunter Woodes Rogers whose ruthlessness is surpassed only by his infamy as the bane of outlaw sailors.



            .



        </p>
        

    </div>
    </div>
  </section>

  <h6 class="fu">.</h6>


</div>

</section>

<section class="media">
    <h2>.</h2>
  <div class="jsa">
  <h1 class="mediah">M E D I A</h1>
</div>
  <div class="mediatwo">
  <img src="https://blog.lootcrate.com/wp-content/uploads/2017/07/tt_acbf_header.gif" alt="" class="media_img">
  <img src="https://media1.giphy.com/media/ovMiL4Jg5AxoJvX0Wa/giphy.gif" alt="" class="media_img">
  <img src="https://64.media.tumblr.com/dd26e067ebdf98e4d5fd7c624a4d31b0/tumblr_mo7am42tlo1qflto8o2_500.gif" alt="" class="media_img">
  <img src="https://media2.giphy.com/media/ljNMSGAXmBVZ5YZGh9/giphy.gif?cid=6c09b952a715ajqvy7s6ct05zj264ozzcqx1oh90ioy1sdhw&ep=v1_internal_gif_by_id&rid=giphy.gif&ct=g" alt="" class="media_img">
  <img src="https://64.media.tumblr.com/b246ed7d7e8417d6a1a1a28ab4b59f1a/tumblr_o0dyg86Bbg1v2ak59o1_500.gif" alt="" class="media_img">
  
</div>
<h6 class="fu">.</h6>
</section>



