<div class="slid">
    
    <h2>.</h2>
    <div class="slid_in">
        <div class="slid_img">
        <img src="https://staticctf.ubisoft.com/J3yJr34U2pZ2Ieem48Dwy9uqj5PNUQTn/5xMfo8M9tdJUS9f2DDDT29/ecff4d30567888dc546f462fb396d4d6/acr_logo_white_154184.png" alt="" class="slidm">
    </div>
    <div class="slid_img_ii">
        <img src="https://steamuserimages-a.akamaihd.net/ugc/1296423129062474478/89589C7CEE447D2C0FA2AF8C7166F82181F063ED/?imw=5000&imh=5000&ima=fit&impolicy=Letterbox&imcolor=%23000000&letterbox=false" alt="" class="slidb">
    </div>
    
    
    <p class="slid_one">Ezio Auditore must leave his life behind in search of<br> answers, in search of  the truth. In Assassin's Creed<br> Revelations, master assassin Ezio Auditore walks in the <br> footsteps of the  legendary mentor Altaïr, on a journey <br> of discovery and revelation. It is a perilous path  — one<br> that will take Ezio to Constantinople, the heart of the <br> Ottoman Empire, where a growing army of Templars <br> threatens to destabilize the region.



        
    </p>

        <button routerLink="Games"class="slid_btn">Check The Games</button>

    </div>
</div>
<section class="two">
  <h1 class="jsdfasf">.</h1>
  <div class="twys">
  <h1 class="twoh1">Game Overview
  </h1>


 
</div>
<div class="all">
  <section class="first">
    <div class="first_one">
        <img src="https://staticctf.ubisoft.com/J3yJr34U2pZ2Ieem48Dwy9uqj5PNUQTn/3l7SZaYwXoxaHzBR6BCC1E/ee079f33ce3b4fc17db42009d8a13c95/ACF-ACRev-screenshot-2.jpg" alt="" class="first_img">
        <div class="first_d">
           
        <p class="firstp">Fight as both Ezio and Altair to discover the truth behind the Creed. Walk in the footsteps of these master Assassins to uncover the secrets behind their Order and the destiny that unites them.







        </p>
        
    </div>
    </div>
  </section>

  <section class="first">
    <div class="first_one">
        <img src="https://staticctf.ubisoft.com/J3yJr34U2pZ2Ieem48Dwy9uqj5PNUQTn/5JzH4jsmp94L82Ozao5KE0/d0148fc17e7eabcec936756580d1da3a/ACF-ACRev-screenshot_8.jpg" alt="" class="first_img">
        <div class="first_d">
           
        <p class="firstp">Navigate your environment faster and more fluidly than ever with the new hookblade. This vicious new weapon allows you to perform aerial assassinations more easily, and to chain together your attacks across multiple foes, flowing effortlessly from kill to kill.







        </p>
        

    </div>
    </div>
  </section>

  <section class="first">
    <div class="first_one">
        <img src="https://images4.alphacoders.com/220/220856.jpg" alt="" class="first_img">
        <div class="first_d">
            
        <p class="firstp">Experience new levels of gameplay customization with advanced bomb crafting. Using components found throughout the vast world of Assassin’s Creed Revelations, you’ll be able to create hundreds of different bombs to serve a multitude of functions, perfectly tailoring each to suit your gameplay style.



            .



        </p>
        

    </div>
    </div>
  </section>

  <h6 class="fu">.</h6>


</div>

</section>

<section class="media">
    <h2>.</h2>
  <div class="jsa">
  <h1 class="mediah">M E D I A</h1>
</div>
  <div class="mediatwo">
  <img src="https://64.media.tumblr.com/c94f2e82cee4213f4e2a1023b3875d31/81c5dc70c81822c0-1a/s540x810/77a736963cfd58527e3fb26b79d06743daaf7bda.gif" alt="" class="media_img">
  <img src="https://i.makeagif.com/media/2-27-2016/AXq7Wk.gif" alt="" class="media_img">
  <img src="https://img.wattpad.com/eb5700a409a4745c94164dac620e3f21bba8df80/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f776174747061642d6d656469612d736572766963652f53746f7279496d6167652f5558644f3234704f5a4e693573513d3d2d3336363138323139332e313439653962393737386434663862363838343234313138323233352e676966" alt="" class="media_img">
  <img src="https://64.media.tumblr.com/bd78963d3a1db071a693a74d08881f14/tumblr_muouihBM2n1s9x7xro1_500.gifv" alt="" class="media_img">
  <img src="https://25.media.tumblr.com/tumblr_me3rxwLu401rapf3go1_500.gif" alt="" class="media_img">
  <img src="https://i.gifer.com/Ll1i.gif" alt="" class="media_img">
  <img src="https://comicvine.gamespot.com/a/uploads/original/11116/111169692/3895060-9846493450-38903.gif" alt="" class="media_img">
  <img src="https://64.media.tumblr.com/8cbe59c9e2b95738df6b0bcf19f73a70/c40b0b94ab9e4e02-23/s540x810/87223c83b039962ffb5c1b9b758f2f01ee9bac9b.gifv" alt="" class="media_img">
  <img src="https://64.media.tumblr.com/2e1927db0cf54d51599b393e1ec44923/c3091a3b9d149d08-40/s540x810/3cc6dc4072cc9c7e9d8c733c1ce01ef3b5a4a1c2.gif" alt="" class="media_img">
</div>
<h6 class="fu">.</h6>
</section>



