<div class="slid">
    
    <h2>.</h2>
    <div class="slid_in">
        <div class="slid_img">
        <img src="https://staticctf.ubisoft.com/J3yJr34U2pZ2Ieem48Dwy9uqj5PNUQTn/7uOBEhFtiweE77PCVhJv7v/da2bb54986b53b7187efee28efbd47e9/ac-game-logo-odyssey.png" alt="" class="slidm">
    </div>
    <div class="slid_img_ii">
        <img src="https://i.pinimg.com/originals/cb/9e/29/cb9e2969d597bc6aceb479f3a3f0a0cc.gif" alt="" class="slidb">
    </div>
    
    <p class="slid_one">Write your own epic odyssey and become a legendary <br> Spartan hero in Assassin’s Creed Odyssey, an inspiring <br> adventure where you must forge your destiny and <br>define your own path in a world on the brink of tearing <br> itself apart. Influence how history unfolds as you <br> experience a rich and ever-changing world shaped by <br> your decisions.





    </p>

        <button routerLink="Games"class="slid_btn">Check The Games</button>

    </div>
</div>

<div class="news_card">
    <h1 class="fake">.</h1>
    <div class="fuk">
    <h4 class="minh">News & Videos    </h4>
</div>
    <div class="news_card_one">
        <div class="news_card_one_row">
            <img src="https://staticctf.ubisoft.com/J3yJr34U2pZ2Ieem48Dwy9uqj5PNUQTn/72pzZ2pQcVlQy2FKQ97DlB/7cf869275586ccbbcd81d6c0f686e2fe/acod_stadia_static_alexios_358042.jpg" alt="" class="news_img">
            <p class="news_date">November 2019
                2 Min Read
                </p>
            <p class="news_text">Assassin’s Creed Odyssey arrives on Stadia! </p>
            <p class="news_text_two">Discover all Stadia Editions!</p>

            <a href="https://www.ubisoft.com/en-gb/game/assassins-creed/news/17c6pmiXUj37rZbRcGcF97/assassins-creed-odyssey-arrives-on-stadia"><button class="news_btn">Read More on ubisoft</button></a>
            <p class="news_foot">Assassin's Creed Odyssey</p>
        </div>
        <div class="news_card_one_row">
            <div class="news_card_one_row">
                <img src="https://staticctf.ubisoft.com/J3yJr34U2pZ2Ieem48Dwy9uqj5PNUQTn/6Nyna9CmPjm4Yrd0thMKWr/ecb5aed0a5d1a1ddd7d2926620f2e12c/juneupdate_header_960x540_351493.jpg" alt="" class="news_img">
                <p class="news_date">17 June 2019
                    5 Min Read
                    
                    </p>
                <p class="news_text">This Month in Assassin’s Creed – June 2019 Update

                </p>
                <p class="news_text_two">Check out what’s coming to Assassin’s Creed in June!



                </p>
                <button class="news_btn">Read more</button>
                <p class="news_foot">Assassin's Creed Odyssey</p>
            </div>
        </div>
        <div class="news_card_one_row">
            <div class="news_card_one_row">
                <img src="https://staticctf.ubisoft.com/J3yJr34U2pZ2Ieem48Dwy9uqj5PNUQTn/ZWWr1t0sTwaqZp6QHBwIb/178ef453a5c2c9d2b5ba46c612317732/acd_storycreatormode_header_351256.jpg" alt="" class="news_img">
                <p class="news_date">10 June 2019
                    12 Min Read
                   
                    </p>
                <p class="news_text">Assassin’s Creed Odyssey: Story Creator Mode

                </p>
                

                <button class="news_btn">Read more</button>
                <p class="news_foot">Assassin's Creed Odyssey</p>
            </div>
        </div>



    </div>
    <div class="btn_nws">
    <button routerLink="News" class="news_last">All news</button>

</div>


</div>
<main class="build">
    <h1 class="fake">.</h1>
    <div class="fuk">
        <div class="back_gre">
    <h4 class="minh">Build your own</h4>
    <p class="second_h">Odysey Legend</p>
    <p class="three_p">Embark on an epic journey that takes you from your humble <br>beginnings as an outcast Spartan mercenary to a legendary Greek hero and uncover the truth <br>about your mysterious past as Alexios or Kassandra. Sail to the farthest reaches<br> of the Aegean Sea, forming alliances and making enemies. Along the way, you'll encounter <br>historical figures, mythical characters, and a whole cast of others who will impact your journey.</p>
</div>
</div>
</main>

<div class="news_card">
    <h1 class="fake">.</h1>
    <div class="fuk">
    
</div>
    <div class="news_card_one">
        <div class="news_card_one_row">
            <img src="https://staticctf.ubisoft.com/J3yJr34U2pZ2Ieem48Dwy9uqj5PNUQTn/3PUnWKKdSR38N1VJzZ5YnL/838a70c9aa42dcfdd68fd792ad8383b7/ac_home-gameinfo-2-bg-mobile_ncsa.jpg" alt="" class="news_img">
            
            <p class="news_text">Become a Spartan Hero


            </p>
            <p class="news_text_two">Embark on an epic journey that takes you from your humble beginnings as an outcast Spartan mercenary to a legendary Greek hero and uncover the truth about your mysterious past as Alexios or Kassandra. Sail to the farthest reaches of the Aegean Sea, forming alliances and making enemies. Along the way, you'll encounter historical figures, mythical characters, and a whole cast of others who will impact your journey.

            </p>

            <p class="news_foot">Assassin's Creed Odyssey</p>
            
        </div>
        <div class="news_card_one_row">
            <div class="news_card_one_row">
                <img src="https://staticctf.ubisoft.com/J3yJr34U2pZ2Ieem48Dwy9uqj5PNUQTn/1jdx1Un5p7jroxAj2KF9gl/887792652321f860c689c7ef2810440a/ac_home-gameinfo-1-bg-mobile_ncsa.jpg" alt="" class="news_img">
                
                <p class="news_text">Ancient Greece Awaits
                </p>
                <p class="news_text_two">Explore an entire country full of untamed environments and cities at the peak of Greece's Golden Age. Visit Sparta and witness Athens in its full glory, tread in the footsteps of legends like Odysseus and Hercules and uncover the secrets of Greece. Unexpected encounters will breathe life into your story as you meet colorful characters, battle formidable foes, and more.

                </p>
                
                <p class="news_foot">Assassin's Creed Odyssey</p>
            </div>
        </div>
        <div class="news_card_one_row">
            <div class="news_card_one_row">
                <img src="https://staticctf.ubisoft.com/J3yJr34U2pZ2Ieem48Dwy9uqj5PNUQTn/2y2oeVWIlSa51xeCoWDv7m/7cd2bdb4185d1151074401ef960d4276/ac_home-gameinfo-3-bg-mobile_ncsa.jpg" alt="" class="news_img">
                
                <p class="news_text">Choose Your Path
                </p>
                <p class="news_text_two">There are almost infinite ways to explore Greece. Choose between main missions, story-based side quests, and more, as you seek to unearth the mysteries and secrets of this hallowed ground. Your decisions shape the world around you with over 30 hours of choice dialogue and multiple game endings. Experience an entire ancient world that constantly evolves and reacts to your every decision.

                </p>

                
                <p class="news_foot">Assassin's Creed Odyssey</p>
            </div>
        </div>
        <div class="news_card_one_row">
            <div class="news_card_one_row">
                <img src="https://staticctf.ubisoft.com/J3yJr34U2pZ2Ieem48Dwy9uqj5PNUQTn/5DFQRcPN7xqCs79hr24wCp/913f18e28311e621e54e8ee9c771d8d6/acv_settlement_desktop-169.png" alt="" class="news_img">
               
                <p class="news_text">Grow Your Settlement

                </p>
                <p class="news_text_two">Your clan's new home grows with your legend. Customise your settlement by building upgradable structures. Unlock new features and quests by constructing a barracks, a blacksmith, a tattoo parlour, and much more.</p>
                
                <p class="news_foot">Assassin's Creed Odyssey</p>
            </div>
        </div>
        <div class="news_card_one_row">
            <div class="news_card_one_row">
                <img src="https://staticctf.ubisoft.com/J3yJr34U2pZ2Ieem48Dwy9uqj5PNUQTn/W5nmEZKbZPFjpF2po5A7Y/b13dc4d67cf0969d93dd0a1b1bc9b02f/ac_promo-combat_ncsa.jpg" alt="" class="news_img">
                
                <p class="news_text">The Art of Battle

                </p>
                <p class="news_text_two">Show off your extraordinary warrior abilities and shift the tides of battle during one of the deadliest conflicts of the time, the Peloponnesian War. Charge into epic clashes between Sparta and Athens in big battles pitting 150 vs. 150 soldiers against each other. Or cleave your way through entire fleets in naval combat.

                </p>
                
                <p class="news_foot">Assassin's Creed Odyssey</p>
            </div>
        </div>
        <div class="news_card_one_row">
            <div class="news_card_one_row">
                <img src="https://staticctf.ubisoft.com/J3yJr34U2pZ2Ieem48Dwy9uqj5PNUQTn/1uPYVFGkrKRgvdDJl935VF/ab8d3d470443d02004321d03afb3e196/ac-discovery-tour-ancient-greece.jpg" alt="" class="news_img">
                
                <p class="news_text">Discovery Tour: Ancient Greece


                </p>
                <p class="news_text_two">Experience the world of Classical Greece as a living museum in Discovery Tour: Ancient Greece by Ubisoft.





                </p>
               
                <p class="news_foot">Assassin's Creed Odyssey</p>
            </div>
        </div>

        



    </div>
    <div class="btn_nws">
    <button routerLink="News" class="news_last">All news</button>

</div>



</div>
<main class="builda">
    <h1 class="fake">.</h1>
    <div class="fuk">
        <div class="back_gre">
    <h4 class="minh">POST LAUNCH ROADMAP <br> Seasons Pass <br> Expansions and More
    </h4>
    <p class="three_p">New adventures await you with the Gold or Ultimate Editions of Assassin's Creed Valhalla.

    </p>
</div>
</div>
</main>
