<div class="slid">
    
    <h2>.</h2>
    <div class="slid_in">
        <div class="slid_img">
         <h2>.</h2>
         <h2>.</h2>
         <h2>.</h2>
         <h2>.</h2>
         <h2>.</h2>
    </div>
    <div class="slid_img_ii">
        <img src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/8bad6dcf-9512-418c-a38b-7996cf90f939/d5qlr1t-39743877-738f-4f4f-82d8-ffefa7cf40c7.gif?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7InBhdGgiOiJcL2ZcLzhiYWQ2ZGNmLTk1MTItNDE4Yy1hMzhiLTc5OTZjZjkwZjkzOVwvZDVxbHIxdC0zOTc0Mzg3Ny03MzhmLTRmNGYtODJkOC1mZmVmYTdjZjQwYzcuZ2lmIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmZpbGUuZG93bmxvYWQiXX0.cnkm1V2NHDkYZzJ10JzluWQsFTL9WbUrmuvAKE5Lgds" alt="" class="slidb">
    </div>
    
    
    <p class="slid_one">Ezio Auditore must leave his life behind in search of<br> answers, in search of  the truth. In Assassin's Creed<br> Revelations, master assassin Ezio Auditore walks in the <br> footsteps of the  legendary mentor Altaïr, on a journey <br> of discovery and revelation. It is a perilous path  — one<br> that will take Ezio to Constantinople, the heart of the <br> Ottoman Empire, where a growing army of Templars <br> threatens to destabilize the region.



        
    </p>

        <button routerLink="Games"class="slid_btn">Check The Games</button>

    </div>
</div>
<section class="two">
  <h1 class="jsdfasf">.</h1>
  <div class="twys">
  <h1 class="twoh1">Game Overview
  </h1>


 
</div>
<div class="all">
  <section class="first">
    <div class="first_one">
        <img src="https://staticctf.ubisoft.com/J3yJr34U2pZ2Ieem48Dwy9uqj5PNUQTn/6BSnhEJzGGqMXB0GquUvzJ/9979f44167d54bf3223af2a5e2b79c88/AC3R_media_screenshot9_overview.jpg" alt="" class="first_img">
        <div class="first_d">
           
        <p class="firstp">Relive the American Revolution or experience it for the first time in Assassin's Creed® III Remastered, with enhanced graphics and improved gameplay mechanics. Plus, Assassin's Creed Liberation Remastered and all solo DLC content are included.









        </p>
        
    </div>
    </div>
  </section>

  <section class="first">
    <div class="first_one">
        <img src="https://staticctf.ubisoft.com/J3yJr34U2pZ2Ieem48Dwy9uqj5PNUQTn/1h6IOBCMVV1JykmqfQvm3d/8f31813bf15d20b6d7271836a8a6e036/AC3R_media_screenshot6_fight.jpg" alt="" class="first_img">
        <div class="first_d">
           
        <p class="firstp">1775: The American Colonies are about to revolt. As Connor, a Native American Assassin, secure liberty for your people and your nation. From bustling city streets to the chaotic battlefields, assassinate your foes in a variety of deadly ways with a vast array of weaponry.









        </p>
        

    </div>
    </div>
  </section>

  <section class="first">
    <div class="first_one">
        <img src="https://staticctf.ubisoft.com/J3yJr34U2pZ2Ieem48Dwy9uqj5PNUQTn/7KmIBNDuKhV3KRIFfl4Rff/c42fb07531ffcbb38fd19507005b5752/AC3R_media_screenshot10_visuals.jpg" alt="" class="first_img">
        <div class="first_d">
            
        <p class="firstp">Play the iconic Assassin's Creed III with enhanced graphics, now featuring 4K resolution, new character models, polished environment rendering and more. The gameplay mechanics have been revamped as well, improving your experience and your immersion.





            .



        </p>
        

    </div>
    </div>
  </section>

  <h6 class="fu">.</h6>


</div>

</section>

<section class="media">
    <h2>.</h2>
  <div class="jsa">
  <h1 class="mediah">M E D I A</h1>
</div>
  <div class="mediatwo">
  <img src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/3c7557c3-9fd6-4dc2-b9dc-6e7b43c8c6cf/d9x9mr4-ac368f6b-6114-495d-8d40-16b27a31dc56.gif?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7InBhdGgiOiJcL2ZcLzNjNzU1N2MzLTlmZDYtNGRjMi1iOWRjLTZlN2I0M2M4YzZjZlwvZDl4OW1yNC1hYzM2OGY2Yi02MTE0LTQ5NWQtOGQ0MC0xNmIyN2EzMWRjNTYuZ2lmIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmZpbGUuZG93bmxvYWQiXX0.kN43bQ9xzz0ntzXnGklXtUdKeoJdoXq35TfLb1NKoak" alt="" class="media_img">
  <img src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/6dd1b9ef-11b4-46fc-9951-a0ca840aaa34/d52q6kj-1af6128a-35a8-487f-8f5d-d1ce40189cb3.gif?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7InBhdGgiOiJcL2ZcLzZkZDFiOWVmLTExYjQtNDZmYy05OTUxLWEwY2E4NDBhYWEzNFwvZDUycTZrai0xYWY2MTI4YS0zNWE4LTQ4N2YtOGY1ZC1kMWNlNDAxODljYjMuZ2lmIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmZpbGUuZG93bmxvYWQiXX0.TeoZxZ0kHPJpFq60YoiuLzw0rVoI9vqN8GJjdcQvaMU" alt="" class="media_img">
  <img src="https://i.pinimg.com/originals/23/55/25/235525e865fe675b5fb21fa9c3deaea2.gif" alt="" class="media_img">
</div>
<h6 class="fu">.</h6>
</section>




