<div class="slid">
    
    <h2>.</h2>
    <div class="slid_in">
        
    <div class="slid_img_ii">
        <img src="https://i.makeagif.com/media/8-14-2016/9i-3qh.gif" alt="" class="slidb">
    </div>
    
    
    <p class="slid_one">Paris, 1789 – The French Revolution turns a once-magnificent <br> city into a place of terror and chaos. Its cobblestone streets run <br> red with the blood of commoners who dared to rise up against the <br> oppressive aristocracy.







        
    </p>

        <button routerLink="Games"class="slid_btn">Check The Games</button>

    </div>
</div>
<section class="two">
  <h1 class="jsdfasf">.</h1>
  <div class="twys">
  <h1 class="twoh1">Game Overview
  </h1>


 
</div>
<div class="all">
  <section class="first">
    <div class="first_one">
        <img src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/cb1e95aa-0756-4bf8-a92d-dc7e71c8a471/d7pfa1j-d7f0d553-4716-4fee-b675-f44f767279d1.gif?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7InBhdGgiOiJcL2ZcL2NiMWU5NWFhLTA3NTYtNGJmOC1hOTJkLWRjN2U3MWM4YTQ3MVwvZDdwZmExai1kN2YwZDU1My00NzE2LTRmZWUtYjY3NS1mNDRmNzY3Mjc5ZDEuZ2lmIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmZpbGUuZG93bmxvYWQiXX0.8yO7mNJ-bjHjhnrSbBr9W3Zj5NaTvstToP1AiCKC10w" alt="" class="first_img">
        <div class="first_d">
            <h2 class="firsth2">A Ruthless New Hero for a Brutal World





            </h2>
        <p class="firstp">Play as Arno, an entirely new breed of assassin, and take down your prey with a range of new weapons such as the phantom blade, a hidden blade with crossbow capabilities.











        </p>
        
    </div>
    </div>
  </section>

  <section class="first">
    <div class="first_one">
        <img src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/cb1e95aa-0756-4bf8-a92d-dc7e71c8a471/d7pfl06-04b404a7-3a66-4610-aa53-ab65d95f12d5.gif?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7InBhdGgiOiJcL2ZcL2NiMWU5NWFhLTA3NTYtNGJmOC1hOTJkLWRjN2U3MWM4YTQ3MVwvZDdwZmwwNi0wNGI0MDRhNy0zYTY2LTQ2MTAtYWE1My1hYjY1ZDk1ZjEyZDUuZ2lmIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmZpbGUuZG93bmxvYWQiXX0.3zsQpcJlxRyWvRCMcPMelUknX_dSYkUBPElcD-ttONQ" alt="" class="first_img">
        <div class="first_d">
            <h2 class="firsth2">Craft Your Own Master Assassin







            </h2>
        <p class="firstp">Craft a unique play style by choosing weapons, gear, outfits and specialized skills. Mix and match from hundreds of possible combinations and build your stealth, fighting and navigation abilities from a new, expansive skill tree.










        </p>
        

    </div>
    </div>
  </section>

  <section class="first">
    <div class="first_one">
        <img src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/cb1e95aa-0756-4bf8-a92d-dc7e71c8a471/d7pfl06-04b404a7-3a66-4610-aa53-ab65d95f12d5.gif?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7InBhdGgiOiJcL2ZcL2NiMWU5NWFhLTA3NTYtNGJmOC1hOTJkLWRjN2U3MWM4YTQ3MVwvZDdwZmwwNi0wNGI0MDRhNy0zYTY2LTQ2MTAtYWE1My1hYjY1ZDk1ZjEyZDUuZ2lmIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmZpbGUuZG93bmxvYWQiXX0.3zsQpcJlxRyWvRCMcPMelUknX_dSYkUBPElcD-ttONQ" alt="" class="first_img">
        <div class="first_d">
            <h2 class="firsth2">Discover Revolutionary Paris






            </h2>
        <p class="firstp">Carve through the stunning full-scale open world city, a feat only made possible through the power of an all-new game engine.







            .



        </p>
        

    </div>
    </div>
  </section>

  <h6 class="fu">.</h6>


</div>

</section>
<div class="bannner">
    <img src="https://images6.alphacoders.com/514/514415.jpg"
     alt="" class="banerimg">
     
</div>

<div class="hg">
    <h6 class="fu">.</h6>
</div>


<section class="two">
    <h1 class="jsdfasf">.</h1>
    <div class="twys">
    <h1 class="twoh1">Game Overview
    </h1>
  
  
   
  </div>
  <div class="all">
    <section class="first">
      <div class="first_one">
          <img src="https://i.pinimg.com/originals/dc/66/66/dc6666f87e8ef64e8314316f6774c3db.gif" alt="" class="first_img">
          <div class="first_d">
              <h2 class="firsth2">A Unique Co-Op Experience You Must Play to Believe

  
  
  
  
              </h2>
          <p class="firstp">In addition to an epic Singe Player campaign, join up to three friends and experience the online open world of 18th century Paris. Pull off ambitious Heists and take part in unique narrative driven missions designed exclusively for cooperative play.


  
  
  
  
  
  
  
  
  
          </p>
          
      </div>
      </div>
    </section>
  
    <section class="first">
      <div class="first_one">
          <img src="https://i.pinimg.com/originals/12/97/0e/12970e9b7502f7882b913d2621bcd4ad.gif" alt="" class="first_img">
          <div class="first_d">
              <h2 class="firsth2">Assassin's Creed Unity

  
  
  
  
  
  
              </h2>
          <p class="firstp">Introducing Assassin’s Creed® Unity, the next-gen evolution of the blockbuster franchise powered by the enhanced Anvil engine. From the storming of the Bastille to the execution of King Louis XVI, experience the French Revolution as never before – and help the people of France carve an entirely new destiny.


  
  
  
  
  
  
  
  
  
          </p>
          
  
      </div>
      </div>
    </section>
  
    <section class="first">
      <div class="first_one">
          <img src="https://media3.giphy.com/media/WCqdlRDSMTSDFWOcXD/giphy-downsized.gif" alt="" class="first_img">
          <div class="first_d">
              <h2 class="firsth2">BONUS MISSIONS, CUSTOMIZATION PACKS, AND ADDITIONAL BONUS
  
  
  
  
  
              </h2>
          <p class="firstp">Paris, 1789 – The French Revolution turns a once-magnificent city into a place of terror and chaos. Its cobblestone streets run red with the blood of commoners who dared to rise up against the oppressive aristocracy.


  
  
  
  
  
              .
  
  
  
          </p>
          
  
      </div>
      </div>
    </section>
  
    <h6 class="fu">.</h6>
  
  
  </div>
  
  </section>