<div class="slid">
    
    <h2>.</h2>
    <div class="slid_in">
        <div class="slid_img">
        <img src="https://staticctf.ubisoft.com/J3yJr34U2pZ2Ieem48Dwy9uqj5PNUQTn/33FCqEv1KFT1ELG49SR6sQ/0fd45611ccbcc5929a5405c71277f332/ACS-white-logo_201992.png" alt="" class="slidm">
    </div>
    <div class="slid_img_ii">
        <img src="https://media1.giphy.com/media/QmpBl9zEeJwFtwh6eP/200.gif" alt="" class="slidb">
    </div>
    
    
    <p class="slid_one">London, 1868. The Industrial Revolution unleashes an <br>incredible age of invention, transforming the lives of <br> millions with technologies once thought impossible.<br> Opportunities created during this period have people<br> rushing to London to engage in this new world, a <br>world no longer controlled by kings, emperors,<br> politicians, or religion, but by a new common<br> denominator: money.



        
    </p>

        <button routerLink="Games"class="slid_btn">Check The Games</button>

    </div>
</div>
<section class="two">
  <h1 class="jsdfasf">.</h1>
  <div class="twys">
  <h1 class="twoh1">Game Overview
  </h1>


 
</div>
<div class="all">
  <section class="first">
    <div class="first_one">
        <img src="https://staticctf.ubisoft.com/J3yJr34U2pZ2Ieem48Dwy9uqj5PNUQTn/4fpE7BvhvOB9vYOKuKedL9/df7b221c66ee5bc16cf7898e0cd6b738/ACS-media-SS-2-big_202191_202329.jpg" alt="" class="first_img">
        <div class="first_d">
            <h2 class="firsth2">Traverse the Fast-paced World of Industrial London



            </h2>
        <p class="firstp">From Buckingham Palace to Big Ben, fight and triumph across the massive open world of Victorian London. Parkour across moving vehicles to track down enemies or escape after a daring raid, hijack carriages to engage in a no-holds-barred street race, or blaze a trail of destruction aboard steamboats along the River Thames.







        </p>
        
    </div>
    </div>
  </section>

  <section class="first">
    <div class="first_one">
        <img src="https://staticctf.ubisoft.com/J3yJr34U2pZ2Ieem48Dwy9uqj5PNUQTn/3WZqSgv7zxsWqgTsqxe8yQ/3505c99af45cbe5d32c89229247661e0/ACS-media-SS-4-big_202195_202309.jpg" alt="" class="first_img">
        <div class="first_d">
            <h2 class="firsth2">Take Over the London Underworld




            </h2>
        <p class="firstp">With Jacob as the leader, gamers can establish Great Britain’s fiercest gang, the only force that can challenge the elite and defeat rival gangs to bring freedom to the oppressed masses. Enemy strongholds can be infiltrated by using an arsenal of weapons to dominate London’s underworld. From robbing trains to rescuing child laborers, players will stop at nothing to bring justice to London’s lawless streets.







        </p>
        

    </div>
    </div>
  </section>

  <section class="first">
    <div class="first_one">
        <img src="https://staticctf.ubisoft.com/J3yJr34U2pZ2Ieem48Dwy9uqj5PNUQTn/5l4JXRlmvBONTImdHuXfOI/4a894291a02f67f4da1f9061f67e7981/acs_media-video-jtr_seasonpass-500x500_tablet_219671.jpg" alt="" class="first_img">
        <div class="first_d">
            <h2 class="firsth2">Assassin’s Creed Syndicate Season Pass




            </h2>
        <p class="firstp">Extend your experience with the chilling "Jack The Ripper" campaign and other bonus content.



            .



        </p>
        

    </div>
    </div>
  </section>

  <h6 class="fu">.</h6>


</div>

</section>

<section class="media">
    <h2>.</h2>
  <div class="jsa">
  <h1 class="mediah">M E D I A</h1>
</div>
  <div class="mediatwo">
  <img src="https://i.pinimg.com/originals/f3/59/4d/f3594d5f4ae1a80ff38fde2d29562554.gif" alt="" class="media_img">
  <img src="https://img.wattpad.com/346302f50b8b61e05ce8fb27e83073c139e558ad/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f776174747061642d6d656469612d736572766963652f53746f7279496d6167652f6c7332485233445454554f5669673d3d2d3730313834333338332e313538383166333637366633346136313132353734373130323038342e676966" alt="" class="media_img">
  <img src="https://media1.giphy.com/media/OMukKCPK1WfKEELFJr/200.gif" alt="" class="media_img">
  <img src="https://media3.giphy.com/media/yLwAV5JTNaqd7whoIi/giphy-downsized.gif" alt="" class="media_img">
  <img src="https://i.pinimg.com/originals/6d/98/68/6d98683390a0e9cebd597bd74c5dd5de.gif" alt="" class="media_img">
  <img src="https://i.gifer.com/76on.gif" alt="" class="media_img">
  
</div>
<h6 class="fu">.</h6>
</section>



